*{
    margin: 0;
    padding: 0;
}
.mainscreen{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#goeats{
    position: relative;
    top:15%;
    height: 100px;
    width: 183px;
}
#Go{
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: black;
}
#Eats{
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: #099709;
    /* float: right; */
}
#inputarea{
    position: relative;
    top: 15%;
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: column;
    /* background-color: black; */
}
@media screen and (max-width:1349px) {
    #inputarea{
        width: 450px;
    }
    input{
        width: 100%;
    }
    #btn2{
        width: 100%;
    }

}
@media screen and (max-width:640px) {
    #inputarea{
        width: 280px;
    }
    input{
        width: 100%;
    }
    #btn2{
        width: 100%;
    }
}
#info{
    font-size: 18px;
    color: black;
}
input{
    margin-top: 15px;
    height: 50px;
    padding-left: 10px;
}
#btn2{
    margin-top: 10px;
    height: 50px;
    border: none;
    background-color: rgb(209, 209, 209);
    transition: 0.5s;
}
#btn2:hover{
    background-color: #099709;
    color: white;
    transition: 0.5s;
}
#footer1{
    position: absolute;
    bottom: 0;
    height: 8vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
