*{
    margin: 0px;
    padding: 0px;
}
.main{
    height:90vh;
    background-image: url(../../images/userbackground.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 0;
    /* background-color: rgb(212, 204, 204); */
}
nav{
    height: 80px;
    width: 100%;
    background-color: cornsilk;
}