*{
    margin: 0px;
    padding: 0px;
}
.main{
    height:90vh;
    background-image: url(../../images/food-on-table-326278.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 0;
}
nav{
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 80px;
    /* position: sticky;
    top: 0;
    z-index: 1; */
    /* margin-right: 50px; */
}
nav ul{
    float: right;
    margin-right: 50px;

}
nav ul li{
    color: white;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
}

#navlogo{
    position: relative;
    top: 7%;
    left: 3%;
    height: 60px;
    width: 80px;
}
#tagline{
    position: relative;
    top: 28%;
    left: 5%;
    height: 150px;
    width: 350px;
    /* background-color: white; */
}
#go{
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: white;
    /* float: right; */
}
#eats{
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: #00ff00;
    /* float: right; */
}
#hunger{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
#tag{
    font-size: 20px;
    color: white;
    font-weight: 350;
}
#tag1{
    font-size: 20px;
    color: white;
    font-weight: 350;
}
#service{
    height: 10vh;
    width: 100%;
    /* background-color: salmon; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#service_style{
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    font-weight: 400;
}
.characteristics{
    height: 40vh;
    width: 1350px;
    padding-left: 0;
    /* background-color: blueviolet; */
    
}
#quality_foods{
    height: 40vh;
    width: 450px;
    float: left;
    /* background-color: royalblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#original_recipes{
    height: 40vh;
    width: 450px;
    float: left;
    /* background-color: rgb(225, 201, 65); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#delivery{
    height: 40vh;
    width: 450px;
    float: left;
    /* background-color: rgb(225, 201, 65); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#goodfood{
    top: 0px;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#recipe{
    top: 0px;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#takeaway{
    top: 0px;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width:1349px) {
    .characteristics{
        width: 100%;
    }
    #quality_foods{
        width: 33.33%;
    }
    #original_recipes{
        width: 33.33%;
    }
    #delivery{
        width: 33.33%;
    }
    

}
@media screen and (max-width:640px) {
    #quality_foods{
        width: 100%;
    }
    #original_recipes{
        width: 100%;
    }
    #delivery{
        width: 100%;
    }
}
#footer{
    position: relative;
    
    height: 8vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: white;
    margin: 0;
}
